@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.upper-containerview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    position: relative;
    animation: fadeInScale 0.8s ease-in-out;
  }
  
  .search-barview {
    width:740px;
    height: 61px;
    display: flex;
    position: relative;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 3px 7px 21px -1px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  
  .search-iconview {
    color: #b00020;
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    cursor: pointer;
  }
  
  .line-s-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
    width: 1px;
    height: 55px;
  }
  
  .search-inputview {
    font-size: 20px;
    flex-grow: 1;
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    max-width: 610px;
    background: transparent;
  }
  
  .status-bar-view {
    width: 400px;
    height: 61px;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 3px 7px 21px -1px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .status-inputview {
    font-size: 20px;
    flex-grow: 1;
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    max-width: 360px;
    text-align: left;
    display: flex;
    position: relative;
    left: 10px;
    background: transparent;
  }
  
  .buttons {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    bottom: -1px;
    left: 0px;
    margin: 0px 0px 0px;
  }
  
  .importview {
    width: 100px;
    height: 62px;
    border-radius: 0px 30px;
    background: white;
    box-shadow: 7px 14px 21.4px -4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 30.5px;
    border-radius: 0 0 0 30.5px;
  }
  
  .exportview {
    width: 100px;
    height: 62px;
    border-radius: 0px 30.082px 0px 0px;
    background: white;
    box-shadow: 0px 14px 21.4px -4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 30.08px;
  }
  
  .importview:hover,
  .exportview:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }