.request-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .request-container-content h1 {
    color: #800000; /* Maroon */
    font-size: 3rem; /* Adjust size as needed */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  }
  
  .request-container-content {
    position: relative;
    top: 20px;
    left: 51%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 95vw;
    background-color: #ffffffa4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
  }
  
  .lost-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    overflow-x: auto;
  }
  
  .lost-item-card {
    width: 20%;
    max-width: 500px;
    height: 100%;
    background: rgb(102, 167, 18);
    box-shadow: 5px 3px 8px -2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .lost-item-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .lost-item-category {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .lost-item-description {
    font-size: 14px;
    color: #555;
  }
  
  .release-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .release-button:hover {
    background-color: #218838;
  }
  