.history-page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("/src/assets/images/background-cit.png") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.content-area {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 80px;
    left: 50px;
    gap: 10px;
}