.search-bar-user {
    width: 100%;
}

.search-container {
    width: 680px;
    height: 52px;
    background: #F1EAEA;
    box-shadow: 11px 14px 27px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.search-input {
    position: relative;
    left: 40px;
    flex: 1;
    font-size: 18px;
    font-family: 'Afacad', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #484848;
    background: transparent;
    border: none;
    outline: none;
}

.search-icon-user {
    position: absolute;
    left: 25px;
    cursor: pointer;
}

.filter-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 25px;
    background: #AFAFAF;
    position: absolute;
    left: 60px;
}

